.QuizWizard {
    max-width: 500px;
    width: 100%;

    .QuizWizard__spinner {
        text-align: center;
    }

    .QuizWizard__form {
        .QuizWizard__form__question {
            min-height: 340px;
        }

        .QuizWizard__form__actions {
            display: flex;
            place-content: space-between;
        }

        .QuizWizard__form__progress-bar {
            margin-top: 30px;
        }
    }
}