.QuizWizard {
    max-width: 500px;
    width: 100%;

    .QuizWizard__spinner {
        text-align: center;
    }

    .QuizWizard__form {
        .QuizWizard__form__questions {
            .QuizWizard__form__question {
                min-height: 340px;
            }
        }

        .QuizWizard__form__actions {
            display: flex;
            width: 100%;
            place-content: space-between;

            &.QuizWizard__form__actions--right {
                place-content: flex-end;
            }

            .Button {
                min-width: 180px;
            }
        }

        .QuizWizard__form__progress-bar {
            margin-top: 60px;
        }

        .QuizWizard__form__timer {
            margin-top: 16px;
        }
    }
}