@import 'assets/scss/fonts';
@import 'assets/scss/colors';

.Home {
    text-align: center;

    .Home__heading {
        margin: 0;
        font-family: 'Bungee', sans-serif;
        color: $light-cyan;
        font-size: 4rem;
        line-height: 1em;
    }

    .Home__text {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        color: white;
        line-height: 1em;
    }

    .Home__button {
        margin-top: 60px;
    }
}