@import 'assets/scss/easings';
@import 'assets/scss/colors';

$button-height: 50px;

.Button {
    position: relative;
    height: $button-height;
    line-height: $button-height;
    padding: 0 32px 0 calc(#{$button-height} + 16px);
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background: none;
    transition: all 0.2s $easeInOutQuint;
    
    .Button__background {
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        width: $button-height;
        height: $button-height;
        border-radius: $button-height;
        background: $deep-cyan;
        background: linear-gradient(180deg, $light-cyan 0%, darken($light-cyan, 3%) 20%, $deep-cyan);
        color: white;
        transition: all 0.3s $easeInOutQuint;

        .Button__background-icon {
            position: relative;
            width: $button-height;
            height: $button-height;
            line-height: $button-height;
            transition: all 0.2s $easeInOutQuint;

            &:before {
                content: "";
                display: block;
                width: 16px;
                height: 2px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 10px;
                margin: auto;
                opacity: 0;
                background: white;
                transform: translateX(-8px);
                transition: all 0.15s $easeInOutQuint;
            }
        }
    }

    .Button__text {
        position: relative;
        top: 1px;
        z-index: 2;
        color: $light-cyan;
        text-transform: uppercase;
        font-size: 12px;
        transition: all 0.25s $easeInOutQuint;
        letter-spacing: 1px;
    }

    &.Button--hovered {
        .Button__background {
            width: 100%;

            .Button__background-icon {
                transform: translateX(16px);

                &:before {
                    width: 12px;
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }

        .Button__text {
            color: white;
            transform: translateX(8px);
        }
    }
}