@import 'assets/scss/colors';
@import 'assets/scss/easings';

.Timer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    place-content: center;
    gap: 12px;

    .Timer__countdown {
        display: inline-flex;
        align-items: center;
        place-content: flex-end;
        min-width: 50px;
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 2px;
        color: $light-cyan;

        gap: 2px;

        .Timer__countdown__minutes,
        .Timer__countdown__seconds {
            min-width: 20px;
        }

        .Timer__countdown__separator {
            color: transparentize($light-cyan, .6);
        }

        .Timer__countdown__minutes,
        .Timer__countdown__seconds,
        .Timer__countdown__separator {
            transition: all .2s $easeInOutCirc;
        }
    }

    .Timer__bar {
        width: 100%;
        height: 4px;
        border-radius: 30px;
        background: transparentize($deep-cyan, .9);
        transition: background-color .2s $easeInOutCirc;;

        .Timer__bar__progress {
            height: 100%;
            width: 50%;
            border-radius: 30px;
            background: $light-cyan;
            transition: width .1s $easeInOutQuint, background-color .2s $easeInOutCirc;;
        }
    }

    &.Timer--endgame {
        .Timer__countdown {
            color: $pink;

            .Timer__countdown__separator {
                color: transparentize($pink, .5);
            }
        }

        .Timer__bar {
            background: transparentize($orange, 0.8);

            .Timer__bar__progress {
                background: $pink;
            }
        }
    }
}