@import 'assets/scss/colors';
@import 'assets/scss/fonts';
@import 'assets/scss/easings';

.Select {
    display: flex;
    align-items: center;
    place-content: flex-start;
    flex-flow: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    .SelectOption {
        position: relative;
        display: block;
        color: $deep-cyan;
        border-radius: 6px;
        cursor: pointer;
        transition: all .2s $easeInOutSine;
        width: 100%;
        text-align: left;
        overflow: hidden;


        .SelectOption__wrapper {
            position: relative;
            padding: 16px 16px 16px 40px;
            border-radius: 6px;
            border: 2px solid $deep-cyan;
            transition: all .2s $easeInOutSine;

            .SelectOption__input {
                display: none;
            }
            
            .SelectOption__dot {
                display: flex;
                align-items: center;
                place-content: center;
                position: absolute;
                width: 10px;
                height: 10px;
                top: 1px;
                bottom: 0;
                margin: auto;
                left: 16px;
                border: 2px solid $deep-cyan;
                border-radius: 100%;
                transition: all .2s $easeInOutSine;
    
                &:before {
                    content: "";
                    width: 6px;
                    height: 6px;
                    border-radius: 100%;
                    background: darken($light-cyan, 5%);
                    transform: scale(0);
                    opacity: 0;
                    transition: opacity .2s $easeInOutQuad, transform .2s $easeInOutSine;
                }
    
                &:after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    background: white;
                    transform: scale(0);
                    transition: all .3s $easeInOutSine;
                }
            }
    
            .SelectOption__text {
                position: relative;
                font-family: 'Poppins', sans-serif;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }

        &:hover {
            .SelectOption__wrapper {
                border-color: $light-cyan;

                .SelectOption__dot {
                    &:before {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }

        &.SelectOption--selected {
            border-color: $light-cyan;

            .SelectOption__wrapper {
                color: white;

                .SelectOption__dot {
                    &:before {
                        opacity: 1;
                        // transition: all .4s $easeInOutSine;
                        background: $light-cyan;
                        transform: scale(300);
                    }

                    &:after {
                        transform: scale(1);
                    }
                }
            }
        }
    }

    &.Select--inline {
        flex-direction: row;

        .SelectOption {
            width: auto;
        }
    }
}