@import 'assets/scss/colors';
@import 'assets/scss/fonts';

.Login {
    text-align: center;

    .Login__heading {
        margin: 0;
        color: $light-cyan;
        font-family: 'Poppins', sans-serif;
        font-size: 2.5rem;
    }

    .Login__text {
        color: white;
        font-family: 'Libre Baskerville', serif;
        font-size: 1.2rem;
    }

    .Login__form {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        place-content: center;
        text-align: left;
        margin-top: 40px;

        .Login__form__avatar {
            .Login__form__avatar__label {
                margin: 0;
                text-align: center;
                color: $deep-cyan;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
            }

            .Login__form__avatar__picker {
                margin-top: 16px;
            }
        }

        .Login__form__button {
            box-sizing: border-box;
            padding-top: 32px;
        }
    }
}