@import 'assets/scss/colors';

.Label {
    display: block;
    margin: 12px 0;
    font-family: 'Poppins', sans-serif;
    color: $deep-cyan;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}