@import 'assets/scss/colors';

.Label {
    display: block;
    margin: 12px 0 16px 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    
    .Label__text,
    .Label__info {
        display: block;
        line-height: 1.5rem;
    }

    .Label__text {
        font-size: 14px;
        font-weight: 500;
        color: $light-cyan;
    }

    .Label__info {
        font-size: 12px;
        color: $deep-cyan;
    }

    &.Label--serif {
        font-family: 'Libre Baskerville', serif;
    }

    &.Label--large {
        font-size: 16px;
        font-weight: 600;
    }
}