.layout-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 860px;
    
    .layout-main-inner {
        display: flex;
        align-items: center;
        place-content: center;
        flex-grow: 1;
        padding: 64px 0;
        color: white;
    }
}