.Question {
    .Label {
        min-height: 64px;
        text-align: center;
    }

    .Select {
        max-width: 350px;
        margin: 24px auto 0;

        .SelectOption {
            .SelectOption__wrapper {
                .SelectOption__text {
                    letter-spacing: 1.5px;
                }
            }
        }
    }
}