.Header {
    display: flex;
    align-items: center;
    place-content: space-between;
    padding: 0 0 16px 0;

    .Header__logo {
        display: flex;
        place-content: center;

        a {
            text-decoration: none;
        }
    }

    .Header__avatar {
        flex: 1 0 200px;
        display: flex;
        place-content: flex-end;
        align-items: flex-start;
        padding: 16px 16px 0 0;
    }
}