@import-normalize;
@import 'assets/scss/fonts';
@import 'assets/scss/colors';
@import 'assets/scss/global';

.App {
  display: flex;
  padding: 3em;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Libre Baskerville', serif;
  
  background: rgb(11,44,82);
  background: linear-gradient(227deg, rgba(11,44,82,1) 0%, rgba(22,65,116,1) 21%, rgba(28,71,121,1) 47%, rgba(28,68,112,1) 67%, rgba(11,44,82,1) 100%);
}