@import-normalize;
@import 'assets/scss/fonts';
@import 'assets/scss/global';

.App {
  display: flex;
  padding: 3em;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Libre Baskerville', serif;
}