@import-normalize;
@import 'assets/scss/fonts';
@import 'assets/scss/colors';
@import 'assets/scss/global';

.App {
    display: flex;
    place-content: center;
    padding: 3rem;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Poppins', serif;
    background: rgb(11,44,82);
    background: linear-gradient(227deg, rgba(11,44,82,1) 0%, rgba(22,65,116,1) 21%, rgba(28,71,121,1) 47%, rgba(28,68,112,1) 67%, rgba(11,44,82,1) 100%);

    &.App--mobile {
        padding: 1rem;
    }
}

body::-webkit-scrollbar {
    width: 10px;
    background: rgba(22,65,116,1);
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.25);
}

body::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 30px;
    background-color: darken($deep-cyan, 5%);

    &:hover {
        background-color: $deep-cyan;
    }
}